package views

templ About() {
	<h1>About This Application</h1>
    <p>This application is a simple example of how to use templ in a web application.</p>
    <p>It demonstrates the use of components and templ syntax to create reusable UI elements.</p>
    <p>Feel free to explore the code and modify it as you wish!</p>
}
