package views

import "grapefrui.xyz/vc13/components"

templ Drafts() {
	<nav aria-label="Main Navigation" role="navigation" class="main-navigation">
		<ul style="display: flex; list-style: none; gap:2ch; padding-inline-start: 0;">
			@components.NavigationLink("CV Drafts", "/drafts.cvs.html")
			@components.NavigationLink("CL Drafts", "/drafts/cls.html")
			@components.NavigationLink("Email Drafts", "/drafts/emails.html")
		</ul>
	</nav>
}
