package views

import "grapefrui.xyz/vc13/components"

templ IntelUploadFileSuccessful() {
    <h1>Intel Uploaded Successfully</h1>
    <p>Your file has been successfully uploaded and will be processed shortly.</p>
    <ul style="display: flex; list-style: none; gap:2ch; padding-inline-start: 0;">
        @components.NavigationLink("Back to Intel", "/intel")
        @components.NavigationLink("Upload More", "/intel_upload_text.html")
    </ul>
}