package views

import "grapefrui.xyz/vc13/components"

templ Intel() {
	<h1>Welcome to the Template Example</h1>
	<p>This is a simple example of how to use templ in a web application.</p>
	<ul style="display: flex; list-style: none; gap:2ch; padding-inline-start: 0;">
		@components.NavigationLink("New Intel", "/Intel.new.html")
	</ul>
}
