package components

templ Navigation() {
<nav>
    <ul style="display: flex; list-style: none; gap:2ch; padding-inline-start: 0;">
        @NavigationLink("Home", "./index.html")
        @NavigationLink("Blog", "./blog")
    </ul>
</nav>
}
