package components

templ NavigationLink(title, href string) {
	<li>
		<a href={href} title={"Navigate to " + title} aria-label="navigation link" aria-roledescription="navigation link">
			{title}
		</a>
	</li>
}
