package layouts

templ Document(content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>VC13</title>
			<meta content="dark light" name="color-scheme"/>
		
		</head>
		<body>
			@content
		</body>
	</html>
}
