package layouts

import "grapefrui.xyz/vc13/components"

templ WithNavigation(content templ.Component) {
	<header style="display: flex; justify-content: center;">
		@components.NavigationMain()
		
	</header>
	<hr />
	<main style="width: min(1200px, 98%); margin: 0 auto;">
		@content
	</main>
}
